@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
:root{
    --primary: #2fb787;
    --bgColor: #efefef;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: var(--bgColor);
}

nav{
    background: #fff;
    box-shadow: 0px 0px 8px 2px #6f6f6f;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.nav-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.nav-left img{
    width: 10rem;
}

.nav-right{
    /* border: 3px solid #03989e; */
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-right img{
    width: 100%;
    border-radius: 50%;
}

.nav-middle{
    width: 40%;
}
.nav-middle ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.nav-middle ul li{
    font-size: 20px;
    font-weight: 600;
    color: #03989e;
    cursor: pointer;
}

.nav-middle ul li:hover{
    color: var(--primary);
}

.login-btn button{
    background-color: #7ed957;
    color: #fff;
    border: none;
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
    text-transform: uppercase;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 115px 5%;
}

.left-sidebar{
    background: #cbdffa;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}

.right-sidebar{
    background: #cbdffa;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}

.main-content{
    flex-basis: 47%;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.create-post{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}

.user-profile{
    display: flex;
    align-items: center;
}

.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p {
    margin-top: -5px;
    font-weight: 500;
    color: #626262;
}

.user-profile small {
    font-size: 12px;
}

textarea {
    resize: none;
}

.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
}

.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    font-size: 16px;
}
@media screen and (min-width: 769px) {
    /* STYLES HERE */
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
    /* STYLES HERE */
}

@media only screen and (max-device-width: 480px) {
    .container{
        padding: 115px 5%;
        display: block;
    }
    
    .left-sidebar{
        display: none;
    }
    
    .right-sidebar{
        display: none;
    }
    
    .main-content{
        /* flex-basis: 47%; */
        width: 100;
    }
        
}